---
#==============================================================================
# Template: NDFC Interface Configuration Generator
#==============================================================================
# Purpose: Generate cisco.dcnm.dcnm_interface module configuration from
#          profiled interface data for deployment to Nexus Dashboard
#
# Input Variables:
#   - switch_name: Name of the target switch in NDFC
#   - switch_interfaces: List of interface configurations from profiled inventory
#   - interface_type: Type of interfaces to process ('l2' or 'l3')
#
# Output: List of interface configurations in NDFC format suitable for
#         cisco.dcnm.dcnm_interface module
#
# Layer 2 Interfaces (interface_type == 'l2'):
#   - Access ports: VLAN assignment
#   - Trunk ports: Allowed VLANs, native VLAN
#   - Port-channels: Member interfaces
#   - Interface descriptions
#
# Layer 3 Interfaces (interface_type == 'l3'):
#   - IP addressing (IPv4/IPv6)
#   - Interface mode: vlan (SVIs), lo (loopbacks), routed (physical/PC)
#   - HSRP: Virtual IP, priority, group
#   - OSPF: Area, process ID
#   - DHCP relay servers
#   - Interface descriptions
#==============================================================================

{% for iface in switch_interfaces %}
{# ========== Layer 2 Interface Configuration ========== #}
{% if interface_type == 'l2' and iface.mode is defined %}
- name: {{ iface.name | default(iface.interface) }}
  switch:
    - {{ switch_name }}
  type: {{ iface.type }}
  deploy: true
  profile:
    mtu: {{ iface.mtu | default('default') }}
{% if iface.mode == 'trunk' %}
    admin_state: true
    mode: trunk
    bpdu_guard: false
{% if iface.trunk is defined and iface.trunk.allowed_vlans is defined %}
    allowed_vlans: {{ iface.trunk.allowed_vlans }}
{% endif %}
{% if iface.trunk is defined and iface.trunk.native_vlan is defined %}
    native_vlan: {{ iface.trunk.native_vlan }}
{% endif %}
{% elif iface.mode == 'access' %}
    admin_state: true
    mode: access
{% if iface.access is defined and iface.access.vlan is defined %}
    access_vlan: {{ iface.access.vlan }}
{% endif %}
{% endif %}
{% if iface.description is defined %}
    description: "{{ iface.description }}"
{% endif %}
{% if iface.type == 'pc' and iface.members is defined %}
    members:
{% for member in iface.members %}
      - {{ member.interface }}
{% endfor %}
{% endif %}
{# ========== Layer 3 Interface Configuration ========== #}
{% elif interface_type == 'l3' and iface.ipv4_address is defined %}
- name: {{ iface.name | default(iface.interface) }}
  switch:
    - {{ switch_name }}
  type: {{ iface.type }}
  deploy: true
  profile:
{% if iface.type == 'svi' %}
    mode: {{ iface.mode | default('vlan') }}
    mtu: {{ iface.mtu | default('1500') }}
{% elif iface.type == 'lo' %}
    mode: {{ iface.mode | default('lo') }}
{% else %}
    mode: {{ iface.mode | default('routed') }}
    mtu: {{ iface.mtu | default('1500') }}
{% endif %}
    admin_state: {{ iface.enabled | default(true) }}
{% if iface.ipv4_address is defined %}
    ipv4_addr: {{ iface.ipv4_address.split('/')[0] }}
    ipv4_mask_len: {{ iface.ipv4_address.split('/')[1] | default(24) }}
{% endif %}
{% if iface.ipv6_address is defined %}
    ipv6_addr: {{ iface.ipv6_address.split('/')[0] }}
    ipv6_mask_len: {{ iface.ipv6_address.split('/')[1] | default(64) }}
{% endif %}
{% if iface.description is defined %}
    description: "{{ iface.description }}"
{% endif %}
{% if iface.ipv4_redirects is defined %}
    disable_ip_redirects: {{ not iface.ipv4_redirects }}
{% endif %}
{% if iface.hsrp is defined %}
    enable_hsrp: true
    hsrp_version: {{ iface.hsrp.version | default(1) }}
    hsrp_group: {{ iface.hsrp.group }}
    hsrp_vip: {{ iface.hsrp.virtual_ip }}
{% if iface.hsrp_priority is defined %}
    hsrp_priority: "{{ iface.hsrp.priority }}"
{% endif %}
{% endif %}
{% if iface.dhcp_relay is defined %}
{% if iface.dhcp_relay[0] is defined %}
    dhcp_server_addr1: {{ iface.dhcp_relay[0] }}
    vrf_dhcp1: {{ iface.dhcp_server1_vrf | default('default') }}
{% endif %}
{% if iface.dhcp_relay[1] is defined %}
    dhcp_server_addr2: {{ iface.dhcp_relay[1] }}
    vrf_dhcp2: {{ iface.dhcp_server2_vrf | default('default') }}
{% endif %}
{% if iface.dhcp_relay[2] is defined %}
    dhcp_server_addr3: {{ iface.dhcp_relay[2] }}
    vrf_dhcp3: {{ iface.dhcp_server3_vrf | default('default') }}
{% endif %}
{% endif %}
{% if iface.ospf.process is defined or iface.ospf.area is defined %}
{% if iface.ospf.process is defined %}
    cmds:
      - ip router ospf {{ iface.ospf.process | default('1') }} area {{ iface.ospf.area }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %} 